@font-face {font-family: "iconfont";
  src: url('~@/static/iconfont/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fengefu:before {
  content: "\e670";
}

.icon-add-fill:before {
  content: "\e607";
}

.icon-package:before {
  content: "\e659";
}

.icon-package1:before {
  content: "\e605";
}

.icon-package2:before {
  content: "\e606";
}

.icon-goods:before {
  content: "\e61d";
}

.icon-goods1:before {
  content: "\e604";
}

.icon-scanning:before {
  content: "\e762";
}

.icon-empty:before {
  content: "\e603";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-lift:before {
  content: "\e745";
}

.icon-arrow-up:before {
  content: "\e746";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-status-blue:before {
  content: "\e666";
}

.icon-zaixianbianji-:before {
  content: "\e602";
}

.icon-camera:before {
  content: "\e62a";
}

.icon-remind:before {
  content: "\e6d8";
}

.icon-my:before {
  content: "\e601";
}

.icon-shounaxiang:before {
  content: "\e600";
}

.icon-kong:before {
  content: "\e629";
}

.icon-kong1:before {
  content: "\e841";
}

.icon-kong2:before {
  content: "\e627";
}

.icon-set:before {
  content: "\e78e";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-copy:before {
  content: "\e6f3";
}

.icon-ashbin:before {
  content: "\e744";
}

.icon-category:before {
  content: "\e747";
}

.icon-close:before {
  content: "\e748";
}

.icon-ellipsis:before {
  content: "\e74f";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-add-select:before {
  content: "\e7b0";
}

.icon-cascades:before {
  content: "\e7cc";
}

.icon-zhiding:before {
  content: "\e674";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-integral-fill:before {
  content: "\e726";
}

.icon-packaging:before {
  content: "\e75b";
}

.icon-all-fill:before {
  content: "\e777";
}

.icon-feeds-fill:before {
  content: "\e77f";
}

.icon-integral-fill1:before {
  content: "\e782";
}

.icon-order-fill:before {
  content: "\e786";
}

.icon-product:before {
  content: "\e788";
}

.icon-Similarproducts-fill:before {
  content: "\e78c";
}

.icon-collection-fill:before {
  content: "\e79d";
}

.icon-home-fill:before {
  content: "\e7ae";
}

